{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}multilingual/css/admin_styles.css" />
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    <ul class="language-tabs">
        {% for code, name in LANGUAGES %}
            {% if code == ML_LANGUAGE %}
                <li class="selected">
                    <span>{{ name }}</span>
                </li>
            {% else %}
                <li>
                    <a href="?language={{ code }}">{{ name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block after_field_sets %}
    <input type="hidden" name="language" value="{{ ML_LANGUAGE }}">
{% endblock %}
