ul.language-tabs {
    font-weight:bold;
    padding-left: 0px;
    margin-bottom: 4px;
    margin-top: 4px;
}

ul.language-tabs li {
    list-style-type: none;
    display: inline;
}

ul.language-tabs li a {
    padding: 4px 8px;
    border: 1px solid #CCCCCC;
    color: #5B80B2;
}

ul.language-tabs li.selected span {
    padding: 4px 8px;
    border: 1px solid;
    color: #000000;
    border-color: #CCCCCC #CCCCCC #FFFFFF #CCCCCC
}
